@import '../../../styles/config/variables';

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 4rem;
    max-width: 1180px;
    margin: 0 auto;
}

.img-container {
    width: 100%;
    max-width: 576px;
    height: 600px;
    background: linear-gradient(188deg, #1ea483 0%, #7465d4 100%);
    border-radius: 8px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        object-fit: cover;
    }
}

.product-details {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: $h1;
        color: $c-gray-300;
    }

    span {
        margin-top: 1rem;
        display: block;
        font-size: $h1;
        color: $c-green-300;
    }

    p {
        margin-top: 2.5rem;
        font-size: $h4;
        line-height: 1.6;
        color: $c-gray-300;
    }

    button {
        margin-top: auto;
        background-color: $c-green-500;
        border: 0;
        color: $c-gray-100;
        border-radius: 8px;
        padding: 1.25rem;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            background-color: $c-green-300;
        }
    }
}